*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #e3edf7;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.progress{
    position: relative;
}
input{
    outline-color: rgba(110, 61, 196, 0.9);
    line-height: 20px;
    padding: 10px;
    border-radius: 10px;
    border:none;
    font-weight: bold;
    width: 300px;
    margin-right: 15px;
}
input::placeholder{
    opacity: 0.8;
}
.button{
    background-color: rgba(110, 61, 196, 0.9);
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: medium;
    color: white;
}
.inner{
    height: 180px;
    width: 180px;
    border: 25px solid #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 4px 4px 14px -1px rgb(0, 0, 0, 0.2),
                inset -4px -4px 14px -1px rgb(255,255,255,0.7),
                6px 6px 10px -1px rgb(0, 0, 0, 0.3),
                -6px -6px 10px -1px rgb(255, 255, 255, 0.15)                
    ;
}
svg{
    position: absolute;
    left: 0;
    top:0;
}
circle{
    fill:none;
    stroke: url(#grad1);
    stroke-width: 25px;
    stroke-dasharray: 474;
}
#number{
    font-size: larger;
    font-weight: 900;
}